{% extends "base.html" %}

    {% block content %}
    <div class=" text-center ">
        <div class="flex flex-row justify-between items-center  m-5">
            <i class="text-[#7a8696] fas fa-chevron-left"></i>
            <p class="text-1xl font-bold text-[#edeef2]">
                Mombasa county agents!
            </p>
            <i class="text-[#7a8696] fas fa-home"></i>
        </div>

        <!-- top list -->
        <div class="m-2">
            <div class="flex flex-row items-center">
                
                <div class="flex flex-col mx-1 justify-center items-center rounded-2xl bg-[#162743] border border-[#1d3050] px-2 py-4 w-1/4">
                       <p class="text-[#7a8696] rounded-lg bg-[#143256] px-1 py-1 w-8">01</p>
                       <p class="text-[#7a8696] text-sm ">Changamwe</p>
                </div>

                <div class="flex flex-col mx-1 justify-center items-center rounded-2xl bg-[#162743] border border-[#1d3050] px-2 py-4 w-1/4">
                    <p class="text-[#7a8696] rounded-lg bg-[#143256] px-1 py-1 w-8">02</p>
                    <p class="text-[#7a8696] text-sm ">Jomvu</p>
             </div>

             <div class="flex flex-col mx-1 justify-center items-center rounded-2xl bg-[#162743] border border-[#1d3050] px-2 py-4 w-1/4">
                <p class="text-[#7a8696] rounded-lg bg-[#143256] px-1 py-1 w-8">03</p>
                <p class="text-[#7a8696] text-sm ">Kisauni</p>
         </div>

         <div class="flex flex-col mx-1 justify-center items-center rounded-2xl bg-[#162743] border border-[#1d3050] px-2 py-4 w-1/4">
            <p class="text-[#7a8696] rounded-lg bg-[#143256] px-1 py-1 w-8">04</p>
            <p class="text-[#7a8696] text-sm ">Jomvu</p>
     </div>


            </div>
        </div>
    </div>
    
    {% endblock content %}
