{% extends "base.html" %}


    {% block content %}
    <p class="text-[#edeef2] font-bold text-center ">
        Hello Guys! The goal is to make the web frontend based on the designs.
        <br> I have made one page to get you started: <a class=" text-red-700" href="{{url_for('county_agents')}}">County Agents</a>
        <br> Note that you are not restricted to the example, make changes as you see fit.
        <br>Do the rest of the pages as I get you started on the backend.
        <br>Please feel free to ask whenever you have any issue.
        
      </p>
    {% endblock content %}
